* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 850px;
    height: 600px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 80%;
    max-width: 300px;
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius:50px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button {
    padding: 12px;
    background-color: #7e57c2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-login img {
    height: 45px;
    cursor: pointer;
}

.signup-link {
    margin:20px 0px;
    text-align: center;
}

.signup-link a {
    color: #7e57c2;
    text-decoration: none;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 내용 */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 닫기 버튼 */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

/* 메시지 텍스트 */
#errorMessage {
    margin-top: 10px;
    text-align: center;
    color: #333;
}
