<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.spring.user.dto.UserDTO" alias="user"></typeAlias>
        <typeAlias type="com.spring.group.dto.GroupDTO" alias="group"></typeAlias>
        <typeAlias type="com.spring.mbti.dto.MbtiSubmissionDTO" alias="mbtiSub"></typeAlias>
        <typeAlias type="com.spring.mbti.dto.MbtiTestDTO" alias="mbtiTest"></typeAlias>
        <typeAlias type="com.spring.mbti.dto.MbtiBoardDTO" alias="mbtiBoard"></typeAlias>
        <typeAlias type="com.spring.mbti.dto.MbtiDTO" alias="mbti"></typeAlias>
        <typeAlias type="com.spring.review.dto.ReviewDTO" alias="review"></typeAlias>
        <typeAlias type="com.spring.report.dto.ReportDTO" alias="report"></typeAlias>
        <typeAlias type="com.spring.admin.dto.PenaltiDTO" alias="penalti"></typeAlias>
        <typeAlias type="com.spring.admin.dto.ChartDTO" alias="chart"></typeAlias>
        <typeAlias type="com.spring.admin.dto.ChartCountDTO" alias="chartCount"></typeAlias>
    </typeAliases>
</configuration>