<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Friends">
    <select id="getAllFriends" parameterType="int" resultType="user">
        SELECT DISTINCT user.id as id, user.nickname as nickName, friends.responsedAt, lastChat.sendAt FROM user
        JOIN friends
        ON (
        (friends.requestUserId = #{userId} AND friends.responseUserId = user.id)
        OR
        (friends.responseUserId = #{userId} AND friends.requestUserId = user.id)
        ) AND friends.status = 1
        LEFT JOIN (
        SELECT
        CASE
        WHEN chat.requestUserId = #{userId} THEN chat.responseUserId
        ELSE chat.requestUserId
        END AS friendId,
        MAX(chat.sendAt) AS sendAt
        FROM chat
        WHERE chat.requestUserId = #{userId} OR chat.responseUserId = #{userId}
        GROUP BY friendId
        ) AS lastChat
        ON lastChat.friendId = user.id
        ORDER BY lastChat.sendAt DESC, friends.responsedAt DESC, user.nickName ASC;
    </select>
</mapper>