<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Friends">
    <select id="getFriends" parameterType="int" resultType="user">
        SELECT u.* FROM friends f
        JOIN user u
        ON u.id = CASE
        WHEN f.requestUserId = #{loginId} THEN f.responseUserId
        ELSE f.requestUserId
        END
        WHERE
        (f.requestUserId = #{loginId} OR f.responseUserId = #{loginId})
        AND f.status = 1;
    </select>
    <select id="pendingFriends" parameterType="int" resultType="user">
        SELECT friend.* FROM friends
        JOIN user AS me on
        me.id = friends.responseUserId
        JOIN user AS friend on
        friend.id = friends.requestUserId
        WHERE me.id = #{loginId} and friends.status = 0;
    </select>
    <insert id="addFriend" parameterType="friends">
        INSERT INTO friends (requestUserId, responseUserId, status, requestedAt)
        VALUES (#{requestUserId}, #{responseUserId}, 0, NOW())
        ON DUPLICATE KEY UPDATE
        status = IF(status=1, status, 0),
        requestedAt = IF(status=1, requestedAt, NOW()),
        responsedAt = NULL
    </insert>

    <update id="updateFriend" parameterType="friends">
        UPDATE friends
        SET status = #{status}
        WHERE (requestUserId = #{requestUserId} AND responseUserId = #{responseUserId})
        OR (requestUserId = #{responseUserId} AND responseUserId = #{requestUserId});
    </update>

    <update id="cancelFriend" parameterType="com.spring.friends.dto.FriendsDTO">
        UPDATE friends
        SET status = -1
        WHERE requestUserId = #{requestUserId}
        AND responseUserId = #{responseUserId}
    </update>
</mapper>