<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Group">
    <!-- 그룹 생성 -->
    <insert id="createGroup" parameterType="group" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `group` (leader, title, description, location, maxUserNum, fileId)
        VALUES (#{leader}, #{title}, #{description}, #{location}, #{maxUserNum}, #{fileId});
    </insert>

    <!-- 그룹 전체 조회 (status = 1일때만 조회)-->
    <select id="findAll" resultType="group">
        SELECT * FROM `group`
        WHERE status = 1
        ORDER BY createdAt DESC;
    </select>

    <!-- 그룹 검색 조회 -->
    <select id="searchByKeyword" parameterType="string" resultType="group">
        SELECT * FROM `group`
        WHERE status = 1
            AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR location LIKE CONCAT('%', #{keyword}, '%'))
        ORDER BY createdAt DESC;
    </select>

    <!-- 그룹 상세 조회 -->
    <select id="findById" parameterType="int" resultType="group">
        SELECT * FROM `group`
        WHERE id = #{id}
    </select>

    <!-- 그룹 수정 -->
    <update id="update" parameterType="group">
        UPDATE `group`
        SET title = #{title},
        description = #{description},
        location = #{location},
        maxUserNum = #{maxUserNum}
        WHERE id = #{id};
    </update>

    <!-- 그룹 삭제 (status → -1로 처리) -->
    <update id="delete" parameterType="int">
        UPDATE `group`
        SET status = -1
        WHERE id = #{id};
    </update>

    <insert id="createGroupSchedule" parameterType="groupSchedule">
        INSERT INTO groupSchedule(scheduleLeader, groupId, title, description,startTime,endTime,maxUserNum)
        VALUES(#{scheduleLeader},#{groupId},#{title},#{description},#{startTime},#{endTime},#{maxUserNum});
    </insert>

    <select id="getGroupScheduleByGroupId" parameterType="int" resultType="groupSchedule">
        SELECT * FROM groupSchedule WHERE groupId = #{groupId};
    </select>

    <select id="getGroupScheduleDetail" parameterType="int" resultType="groupSchedule">
        SELECT * FROM groupSchedule WHERE id=#{groupScheduleId};
    </select>

    <select id="getScheduleGroupByGroup" parameterType="int" resultType="userSchedule">
        SELECT * FROM userschedule WHERE groupScheduleId = #{groupScheduleId};
    </select>

    <update id="acceptSchedule" parameterType="schedule">
        UPDATE userschedule SET status = 1
        WHERE userId = #{userId}
        AND groupScheduleId = #{groupScheduleId};
    </update>

    <update id="endRecruit" parameterType="int">
        UPDATE groupschedule SET status = 1
        WHERE id = #{id};
    </update>

</mapper>