<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mbti">
    <select id="getMbtiList" resultType="mbti">
        SELECT * FROM mbti;
    </select>

    <select id="getMbtiLabels" resultType="String">
        select mbti FROM mbti;
    </select>

    <select id="getCountGroupByMbti" resultType="chartCount">
        SELECT m.mbti mbti, COUNT(*) value FROM user
        JOIN mbti m ON user.mbtiId = m.id
        GROUP BY m.mbti;
    </select>

    <select id="getCountGroupByGender" resultType="userGenderRatio">
        SELECT
        CASE gender
        WHEN 'M' THEN '남자'
        WHEN 'F' THEN '여자'
        ELSE '기타'
        END AS gender,
        COUNT(*) AS count
        FROM user
        GROUP BY gender;
    </select>

    <select id="getCountGroupByAge" resultType="userAgeRatio">
        <![CDATA[
        SELECT
            CASE
                WHEN age < 10 THEN '10대 미만' -- 이 부분을 추가했습니다.
                ELSE CONCAT(FLOOR(age / 10) * 10, '대')
            END AS ageRatio, -- DTO 필드명과 일치
            COUNT(*) AS value -- DTO 필드명과 일치
        FROM (
            SELECT
                birthDate,
                YEAR(CURDATE()) - YEAR(birthDate) - (DATE_FORMAT(CURDATE(), '%m%d') < DATE_FORMAT(birthDate, '%m%d')) AS age
            FROM user
        ) AS subquery
        GROUP BY ageRatio -- 'age_group' 대신 'ageRatio'로 수정했습니다.
        ORDER BY
            CASE
                WHEN ageRatio = '10대 미만' THEN 0 -- 'age_group' 대신 'ageRatio'로 수정했습니다.
                ELSE CAST(SUBSTRING_INDEX(ageRatio, '대', 1) AS UNSIGNED) -- 'age_group' 대신 'ageRatio'로 수정했습니다.
            END;
        ]]>
    </select>

</mapper>