<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notification">
    <insert id="createNotification" parameterType="notification">
        INSERT INTO notification (userId, requestUserId, relatedId, type, content, path)
        VALUES (#{userId}, #{requestUserId}, #{relatedId}, #{type}, #{content}, #{path});
    </insert>
    <select id="findAllByUserId" parameterType="int" resultType="notification">
        SELECT * FROM notification
        WHERE userId = #{userId} AND status = 1
        ORDER BY createdAt DESC;
    </select>
    <update id="readNotification" parameterType="int">
        UPDATE notification SET status = -1 WHERE id = #{notificationId}
    </update>
</mapper>