<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OAuth">
    <select id="getUser" parameterType="String" resultType="user">
        SELECT * FROM user WHERE loginId = #{id};
    </select>
    <insert id="join" parameterType="user">
        INSERT INTO user(loginId,nickName, gender, birthDate, region )
        VALUES(#{loginId},#{nickName},#{gender},#{birthDate},#{region});
    </insert>
</mapper>