<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Profile">


    <select id="findByUserId" resultType="com.spring.profile.dto.ProfileDTO">
        SELECT u.id AS userId,
        u.nickname,
        m.mbti,
        u.rating,
        u.point,
        DATE_FORMAT(u.createdAt, '%Y-%m-%d') AS joinedAt
        FROM user u
        LEFT JOIN mbti m ON u.mbtiId = m.id
        WHERE u.id = #{userId}
    </select>

    <select id="findFriendsByUserId" resultMap="FriendMap">
        SELECT u.id AS userId, u.nickname, m.mbti
        FROM friends f
        JOIN user u ON f.responseUserId = u.id
        LEFT JOIN mbti m ON u.mbtiId = m.id
        WHERE f.requestUserId = #{userId} AND f.status = 'ACCEPTED'
        ORDER BY f.id DESC
    </select>

    <resultMap id="FriendMap" type="com.spring.profile.dto.ProfileDTO">
        <result property="userId" column="userId"/>
        <result property="nickname" column="nickname"/>
        <result property="mbti" column="mbti"/>
    </resultMap>

    <select id="findById" resultType="com.spring.mbti.dto.MbtiBoardDTO">
        SELECT * FROM mbtiboard WHERE id = #{id}
    </select>


</mapper>
