<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.profile.repository.ProfileRepository">
    <!-- findByUserId -->
    <select id="findByUserId" resultType="com.spring.profile.dto.ProfileDTO">
        SELECT
        u.id AS userId,
        u.nickname,
        m.mbti,
        m.description,
        u.rating,
        u.createdAt AS joinedAt
        FROM user u
        LEFT JOIN mbti m ON u.mbtiId = m.id
        WHERE u.id = #{userId}
    </select>

    <!-- updateProfile -->
    <update id="updateProfile">
        UPDATE user
        SET nickname = #{nickname}
        WHERE id = #{userId}
    </update>

    <!-- findAcceptedFriends -->
    <select id="findAcceptedFriends" resultType="com.spring.profile.dto.ProfileDTO">
        SELECT
        u.id AS userId,
        u.nickname,
        m.mbti,
        m.description,
        u.rating,
        u.createdAt AS joinedAt
        FROM friends f
        JOIN user u ON f.friendId = u.id
        LEFT JOIN mbti m ON u.mbtiId = m.id
        WHERE f.userId = #{userId}
        AND f.status = 1
        ORDER BY f.createdAt ASC
    </select>
</mapper>
