<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Review">

    <!-- 리뷰 저장 -->
    <insert id="createReview" parameterType="review">
        INSERT INTO review(groupId,groupScheduleId,reviewer,userId,content,score)
        VALUES(#{groupId},#{groupScheduleId},#{reviewer},#{userId},#{content},#{score});
    </insert>

    <!-- 평균 점수 계산 -->
    <select id="calculateAverageScore" parameterType="int" resultType="double">
        SELECT ROUND(AVG(score), 2)
        FROM review
        WHERE userId = #{userId}
        AND status = 1
    </select>

    <!-- user 테이블 rating 업데이트 -->
    <update id="updateUserRating" parameterType="map">
        UPDATE user
        SET rating = #{avgScore}
        WHERE id = #{userId}
    </update>

    <select id="findParticipantsExceptReviewer" parameterType="map" resultType="user">
        SELECT u.id, u.nickName
        FROM userschedule us
        JOIN user u ON us.userId = u.id
        WHERE us.groupScheduleId = #{groupScheduleId}
        AND us.status = 1
        AND u.id != #{reviewer}
    </select>

    <!-- 중복 리뷰 존재 여부 -->
    <select id="countByScheduleReviewerTarget" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM review
        WHERE groupScheduleId = #{groupScheduleId}
        AND reviewer       = #{reviewer}
        AND userId         = #{userId}
        AND status = 1
    </select>

</mapper>