<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Scheduler">
    <delete id="deleteOldUserData">
        <![CDATA[
        DELETE FROM user
        WHERE lastLogin < DATE_SUB(NOW(), INTERVAL 6 MONTH);
        ]]>
    </delete>

    <update id="unblockUser">
        <![CDATA[
        UPDATE user SET status = 1 , banEndTime = null
        WHERE banEndTime <= NOW();
        ]]>
    </update>

    <delete id="deleteOldChatData">
        <![CDATA[
        DELETE FROM chat
        WHERE sendAt < DATE_SUB(NOW(), INTERVAL 3 MONTH);
        ]]>
    </delete>
</mapper>